.carousel__container {
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    height: auto;
    margin: 10px;
    padding: 10px;
    width: 100%;
    flex-wrap: nowrap;
    transition: 1s;
}

.carousel__container:hover .carousel__item{
    opacity: 0.3;
}

.carousel__item {
    overflow: hidden;
    box-sizing: border-box;
    margin: 15px;
    height: 350px;
    width: 300px;
    background-color: white;
    border-radius: 25px;
    transition: 1s;
}

.carousel__item:hover ~ .carousel__item {
    transform: translate3d(50px, 0, 0);
}

.carousel__container:hover .carousel__item:hover  {
    transform: scale(1.1);
    opacity: 1;
}
.carousel--img {
    object-fit: cover;
}